services:
  db:
    image: postgres:16
    container_name: lumon_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./infra/db/postgres_data:/var/lib/postgresql/data
      - ./infra/db/migrations:/docker-entrypoint-initdb.d
